

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Publications</title>
    <style>
        body { font-family: Calibri, sans-serif; }
        .year-section { margin-bottom: 2em; }
        .publication { margin-bottom: 0.5em; }
        h2 { color: #333; }
    </style>
</head>
<body>
    <div style='background: url("https://images.pexels.com/photos/267582/pexels-photo-267582.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2") center/cover no-repeat;
    padding: 60px 20px;
    text-align: center;
    color: white;
    font-size: 2.5rem;
    font-weight: bold;'>
    Publications
    </div>
    {% for year, publications in sorted_publications.items() %}
    <div class="year-section">
        <h2>{{ year }}</h2>
        <ul>
            {% for pub in publications %}
            <li class="publication">
                <strong>{{ pub['title'] }}</strong> by {{ pub['author'] }}. <em>{{ pub['journal'] }}</em> ({{ pub['year'] }}</em> ({{ pub['URL'] }}).
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</body>
</html>
